<div class="d-flex align-items-start justify-content-center">
  <div class="nav flex-column nav-pills me-3" id="category-tab" role="tablist" aria-orientation="vertical">
    <% categories.each do |category| %>
      <div class="row">
        <div class="col-1 mt-2">
          <a href="<%= admin_information_architectures_category_path(category[:id]) %>" class="trash" data-confirm="Delete <%= category[:name] %> category?" data-method="delete">
            <i class="fa fa-trash fa-mg text-muted"></i>
          </a>
        </div>
        <div class="col-1 mt-2">
          <a href="#" class="pencil category_change" data-id="<%= category[:id] %>" data-name="<%= category[:name] %>" data-bs-toggle="modal" data-bs-target="#categoryChange">
            <i class="fa fa-pencil fa-mg text-muted"></i>
          </a>
        </div>
        <div class="col-9">
          <button class="nav-link category_button <%= "active" if(@active_category_id == category[:id]) %>" data-id="<%= category[:id] %>" id="category-<%= category[:id] %>-tab" data-bs-toggle="pill" data-bs-target="#category-<%= category[:id] %>" type="button" role="tab" aria-controls="category-<%= category[:id] %>" aria-selected="<%= @active_category_id == category[:id] ? "true" : "false" %>">
            <%= category[:name] %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
