<!DOCTYPE html>
<html>
<head>
  <title>SportsHub</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body class="bg-dark">
  <div class="flex">
    <%= render 'layouts/header' %>
    <div class="container-xxl h100">
      <div class="row h100 container-fluid header_container border bg-light">
        <div class="col-2">
          <%= render 'admin/shared/menu' %>
        </div>
        <div class="col-10 p-5">
           <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
